
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #ededed6f;
    backdrop-filter: blur(10px);
    color: #231f20;
    padding: 5px 40px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: 45px;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    color:#231f20;
    text-decoration: none;
    font-weight: bold;
}



.hero {
    background: #ffdd80;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #222;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.features {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}


.footer {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}



@media (max-width: 992px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    .features {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 576px) {
    .hero {
        padding: 60px 15px;
    }

    .card {
        padding: 30px 15px;
    }
}

