*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
    
}

img{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 30% ;
    animation-fill-mode: both;
}


.pantalla1{
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    background-color: #ededed;
    z-index: 3;

}

.pantalla{
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.background1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 4fr 4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}



.arc{
    width: 33vw;
    height: 26vw;
    grid-column: 4/6;
    grid-row: 2/4;
    background-color: #e7b01d;
    place-self: end right;
    z-index: 1;
    border-radius: 30vw 30vw 0 0;
}

#arc1{
    grid-column: 5/6;
    grid-row: 3/4;
    width: 12vw;
    height: 12w;
    z-index: 2;
    place-self: end right;
}

.arc2{
    grid-column: 3/5;
    grid-row: 3/4;
    height: 15vw;
    width: 24vw;
    place-self: end center;
}

#arc3{
    grid-column: 1/3;
    grid-row: 1/3;
    height: 15vw;
    width: 15vw;
    place-self: start left;
}


.recorte{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 43vw;
    height: 28vw; 
    position: relative;
    overflow: hidden;
    place-self: start left;
}

.recorteYuscaran{
   grid-column: 4/6;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    place-self: end right;
    z-index: 3;
}

#yuscaran{
   position: absolute; 
    bottom: 0;          
    right: 0;      
    width: 30vw;
    height: 30vw;
    transition: all 0.3s ease;
}

.brand-carrusel-container{
    position: absolute;

    width: 80vw;
    height: 10vw;
    background: #333333;
    top: -40px;
    left: -40%;
    transform: rotate(-40deg);
}

.carrusel{
    display: flex;
    animation: scroll 10s linear infinite;
    width: calc(10vw *12);
}

.carrusel .slide img{
    width: 10vw;
}

.r2{
    grid-column: 4/7;
    grid-row: 2/4;
    transform: rotate(180deg);
    place-self: end right;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-10vw*6));
        transform: translateX(calc(-10vw*6));
    }
}

.blue{
    width: 35vw;
    height: 23vw;
    grid-column: 1/3;
    grid-row: 2/4;
    place-self: end center;
    background-color: #0d71aa;
    display: flex;
}

.blue2{
    
    grid-row: 2/4;
    grid-column: 2/4;
    transform: scaleX(-1);
}

#blueArc1{
    width: 8vw;
    height: 7vw;
    align-self: flex-end;
    z-index: 1;
}

.arcBlue{
    grid-column: 5/7;
    grid-row: 1/2;
    width: 20vw;
    height: 20vw;
    place-self: start right;
    position: absolute;
}

#Guara{
    grid-column: 1/3;
    grid-row: 2/4;
    width: 33vw;
    height: 33vw;
    place-self: end center;
    z-index: 2;
    position: absolute;
}


#yuscaran:hover{
    transform: scale(1.2) translate(-2.25vw, -2.25vw);

}

@media (max-width: 400px) {
  .background1{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
  }


  .recorteYuscaran{
    grid-column: 1/4;
    grid-row: 2/5;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    place-self: end right;
    z-index: 3;
}

#yuscaran{
   position: absolute; 
    bottom: 0;          
    right: 0;      
    width: 90vw;
    height: 90vw;
    transition: all 0.3s ease;
}



  .arc{
    width: 85vw;
    height: 70vw;
    border-radius: 50vw 50vw 0 0;
    grid-column: 1/4;
    grid-row: 3/5;
  }

  #arc1{
    grid-column: 1/4;
    grid-row: 3/5;
    width: 30vw;
    height: 30vw;
  }

  .arc2{
    width: 30vw;
    height: 22vw;
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #arc3{
    width: 40vw;
    height: 40vw;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .recorte{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 60vw;
    height: 60vw; 
  }

  .r2{
    grid-row: 3/5;
    grid-column: 2/4;
  }

  .brand-carrusel-container{
    position: absolute;

    width: 95vw;
    height: 25vw;
    background: #333333;
    top: 5vw;
    left: -30vw;
    transform: rotate(-45deg);
    }

    .carrusel{
        display: flex;
        animation: scroll 10s linear infinite;
        width: calc(25vw *12);
    }

    .carrusel .slide img{
        width: 25vw;
    }

    @keyframes scroll{
        0%{
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100%{
            -webkit-transform: translateX(calc(-10vw*6));
            transform: translateX(calc(-25vw*6));
        }
    }

    #Guara{
        width: 90vw;
        height: 100vw;
        grid-column: 1/4;
        grid-row: 2/5;
    }

    .arcBlue{
        width: 80%;
        height: auto;
        grid-column: 2/4;
        grid-row: 1/3;
    }

    #blueArc1{
        width: 37%;
        height: auto;
    }

}

