* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#fondoinicio {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: absolute;
}

#letrasinicio{
    position: absolute;
    width: 600px;
    left: 100px;
    top: 120px;
}