* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

header {
  background: #222222;
  backdrop-filter: blur(10px);
  color: #231f20;
  padding: 0px 40px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 2;
}

.menu{
  border-radius: 5px;
  padding: 6px;
  height: 45px;
  width: 45px;
  outline: 2px solid white;
  display: none;
}

#sideBar{
  padding-top: 60px;
  position: absolute;
  height: 100vh;
  width:240px;
  background-color: #000000;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  display: none;
}

.sideOption{
  margin: 10px;
  width: 220px;
  height: 50px;
  padding: 10px;
  display: flex;
  font-family: Arial, sans-serif;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
    background-color: #3b3b3b19;
  transition: all 0.3s ease;
}
.sideOpIcon{
  padding: 3px;
  height: 30px;
  width: 30px;
  margin-right: 10px;

}
.sideOption:hover {
  cursor: pointer;
  background-color: #e7b01d;
  transform: scale(1.05);
  color: #222;
}

#sideOption:checked ~ #sideBar{
   transform: translateX(0%); 
}
.menuIcon{
  width: 100%;
  height: 100%;
}

.logo {
  width: 150px;
  height: 45px;
}

.nav {
  display: flex;
  gap: 15px;
  height: 100%;
}
.navItems{
  display: flex;
  gap: 15px;
  height: 100%;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-weight: bold; 
}
.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.nav a:hover {
  background-color: #f1c24c;
  color: #222222;
}

.desple {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.opciondes {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f1c24c;
  width: 100%;
  display: none;
  text-align: center;
}

.opciondes li a {
  padding: 10px;
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

.opciondes li a:hover {
  background-color: #d7a63a;
}

.desple:hover .opciondes {
  display: block;
}


.footer {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 992px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media (max-width: 800px) {
  header{
    padding: 0 20px;
  }
 
  .nav{
    justify-content: space-between;
  }

  .navItems{
    display: none;
  }
  .menu{
    display: block;
  }

  #sideBar{
    display: block;
  }

  
}

@media (max-width: 576px) {
  .hero {
    padding: 60px 15px;
  }

  .card {
    padding: 30px 15px;
  }

  .menu{
    display: block;
  }
}
