*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pantalla{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    position: relative;
    width: 100%;
    background-color: #ededed;
    font-family: "Poppins", sans-serif;
    z-index: 3;
    overflow: hidden;
}

.img-header{
    grid-column: 1/7;
    grid-row: 1/2;
    position: relative;
    width: 100%;
}

.catalogDisplay{
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.capa{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45vh;
    background-color: black;
    opacity: 0.4;
    padding-top: 5em;
}

.img-header h1{
    position: absolute;
    top: 6.5rem;
    left: 2.5rem;
    color: white;
    font-size: 3em;
    width: 80%;
    letter-spacing: 0.7rem;
}

.img-header p{
    position: absolute;
    top: 10rem;
    left: 2.5rem;
    color: white;
    width: 80%;
}

.product-container{
    grid-row: 2/4;
    grid-column: 1/7;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-container{
    width: 100%;
    font-size: 1.5vw;
    margin: 2vh;
}

.products-display{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}

.product-card{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.liston-recorten{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.liston-dorado{
    width: 150px;
    height: 40px;
    transform: rotate(-45deg) translateX(-40px) translateY(-20px);
    left: 0;
    background: linear-gradient(155deg, #997126, #FBF6BA, #997126,#FBF6BA, #997126,#FBF6BA, #997126);
    background-size: 600% 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradient 10s ease infinite;
}

.liston-dorado p{
    font-size: 10px;
    color: #3c2e14;
    font-family: Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.product-image{
    width: 100%;
    height: 180px;
    border-radius: 5px;
    background-color: aqua;
}

.card-details{
    height: 100px;
    display: flex;
    flex-direction: column;
}

.title-product{
    width: 100%;
    line-height: 30px;
}

.button-vm-container{
    width: 100%;
    height: 30px;
    justify-self: end;
    text-align: center;
    background-color: #222222;
    border-radius: 5px;
    margin-top: auto;
}

.see-more{
    line-height: 30px;
    width: 100%;
    color: white;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 500px) {
    .pantalla{ grid-template-columns: 1fr; }
    .img-header{ grid-column: 1/2; grid-row: 1/2; position: relative; width: 100%; }
    .catalogDisplay{ grid-column: 1/2; width: 100%; height: 25vh; object-fit: cover; }
    .capa{ position: absolute; left: 0; top: 0; width: 100%; height: 25vh; background-color: black; opacity: 0.4; padding-top: 0; }
    .img-header h1{ position: absolute; top: 4.5rem; color: white; font-size: 2em; letter-spacing: 0.2rem; }
    .img-header p{ position: absolute; top: 7.5rem; left: 2.5rem; font-size: 0.8rem; color: white; }
    .product-container{ grid-column: 1/2; grid-row: 2/3; }
    .product-card{ width: 100%; flex-direction: row; height: auto; }
    .card-details{ height: 130px; display: flex; flex-direction: column; width: 100%; text-wrap: wrap; }
    .product-image{ width: 130px; height: 130px; margin-right: 10px; }
}