*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pantalla{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    position: relative;
    width: 100%;
    background-color: #ededed;
    overflow: hidden;
    z-index: 3;
}

.product-container{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 30vw;
    display: flex;
}

.banner-container{
    width: 32vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.detail-container{
    grid-row: 1/2;
    grid-column: 3/7;
    width: 68vw;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 8vh;
    font-family: "Poppins", sans-serif;
}

.product-tittle{
    color:#e7b01d;
    font-size: 4rem;
    height: 5rem;
}

.backbanner{
    top: 0;
    position: absolute;
    right: 0;
    width: 20vw;
    height: 80vh;
    border-radius: 0px 0px 25px 25px;
    background: linear-gradient(-45deg, #ffdc84, #eaba42,#b88400);
}

.back-image{
    top: 5vh;
    position: absolute;
    width: 16vw;
    right: 2vw;
    height: auto;
}

.tag-container{
    width: 100%;
    height: 6vh;
    display: flex;
    gap: 1vw;
    justify-content: flex-end;
}


.tag{
    padding: 0.2rem;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #070603;
    color: white;
    height: 2rem;
    border-radius: 2rem 2rem;
}

.golden-tag{
    padding: 0.2rem;
    padding-left: 1vw;
    padding-right: 1vw;
    background: linear-gradient(155deg, #997126, #FBF6BA, #997126,#FBF6BA, #997126,#FBF6BA, #997126);
	background-size: 600% 300%;
    font-weight: 600;
    color: #070603;
    height: 2rem;
    border-radius: 2rem 2rem;
    animation: gradient 10s ease infinite;
}

.description-container{
    margin-top: 2vh;
    width: 100%;
}

.sizes-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1vw;
}

.card-container{
    width: 14rem;
    height: 12.5rem;
    position: relative;
}

.card-image{
    width: 5rem;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    height: auto;
    z-index: 2;
}

.card-details{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 8.5rem;
    display: flex;
    justify-content: end;
    align-items: end;
    background: linear-gradient(-45deg, #ffdc84, #eaba42,#b88400);
    border-radius: 2rem;
    z-index: 1;
}

.price{
    position: absolute;
    right: 0;
    top: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #40361a;
    border-radius: 4.5rem;
    z-index: 2;
}

.price p{
    transform: rotate(-20deg);
}

.details{
    height: 100%;
    width: 60%;
    padding-top: 2rem;
    text-align: start;
}

.details h3{
    color: white;
    height: 0.9rem;
}

.content-tag{
    width: 4rem;
    padding: 0.3rem;
    text-align: center;
    color: white;
    border-radius: 1rem 1rem;
    font-size: 0.8rem;
    background-color: #40361a;
}





@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media(max-width: 780px) {

    .pantalla{
        grid-template-columns: 1fr 1fr;
    }

    .product-container{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-container{
        width: 70%;
        height: 55vh;
        display: flex;
        position: relative;
        justify-content: center;
    }

    .backbanner{
        width: 100%;
        height: 30rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0px 0px 25px 25px;
    }

    .back-image{
        width: 25vw;
        top: 5rem;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .detail-container{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        padding-top: 5vh;
        padding-left: 3vw;
        padding-right: 3vw;
        text-align: center;
    }

    .tag-container{
        justify-content: center;
        gap: 2vw;
    }

    .product-tittle{
        font-size: 10vw;
        height: auto;
    }

    .sizes-container{
        justify-content: center;
        gap: 2vw;
        margin-bottom: 5vh;
    }

    .card-container{
        width: 100%;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-details{
        position: relative;
        right: 3vw;
        width: 90%;
        height: 8rem;
        border-radius: 20px 50px 50px 20px;
    }

    .details{
        position: absolute;
        right: 3vw;
    }

    .card-image{
        width: 5rem;
        left: 5vw;
        bottom: 1.3rem;
        transform: rotate(5deg);
    }

    .price{
        width: 6rem;
        height: 6rem;
        top: 1.5rem;
        right: 0.5rem;
    }
}



@media (max-width: 400px) {

    .pantalla{
        grid-template-columns: 1fr;
    }
    

    .product-container{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        width: 100%;
        height: 50vh;

    }

    .banner-container{
        width: 100vw;
        height: 60vh;
        display: flex;
        position: relative;
        justify-content: center;

    }

    .backbanner{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        height: 45vh;
        border-radius: 0px 0px 25px 25px;
        background: linear-gradient(-45deg, #ffdc84, #eaba42,#b88400);
    }

    .back-image{
        top: 5vh;
        position: absolute;
        width: 45vw;
        height: 50vh;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }


    .detail-container{
        padding-top: 5vh;
        padding-left: 2vw;
        padding-right: 2vw;
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    .tag-container{
        justify-content: center;
        gap: 3vw;
    }

    .sizes-container{
        justify-content: center;
        gap: 1vw;
        margin-bottom: 10vw;
    }

    .product-tittle{
        color:#e7b01d;
        font-size: 16vw;
        height: 20vw;
    }

    .tag{
        display: flex;
        padding: auto;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 4vw;
        align-items: center;
        justify-content: center;
    }

    .golden-tag{
        display: flex;
        padding: auto;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 4vw;
        align-items: center;
        justify-content: center;
    }

    .description-container{
        margin-bottom: 1.7rem;
    }
    .card-container{
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-details{
        position: relative;
        width: 95%;
        height: 6.5rem;
        border-radius: 15px 50px 50px 15px;

    }

    .card-image{
        width: 4rem;
        position: absolute;
        left: 3vw;
        transform: rotate(8deg);
        bottom: 1.5rem;
        height: auto;
        z-index: 2;
    }

    .details{
        padding-top: 0.5rem;
        height: 100%;
        width: 70%;
        text-align: start;
    }

    .price{
        right: 0;
        top: 1.5rem;
        width: 7rem;
        height: 7rem;

    }

}


