*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pantalla{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ededed;
    overflow: hidden;
    z-index: 3;
    animation: fadeUp 0.8s ease forwards;
}


.downbackground{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background: linear-gradient(-45deg, #ffdc84, #eaba42,#b88400);
}

