*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pantalla{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ededed;
    z-index: 3;
}

.catalogDisplay{
    grid-column: 1/7;
    grid-row: 1/2;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

.capa{
    grid-column: 1/7;
    grid-row: 1/2;
    width: 100vw;
    height: 40vh;
    background-color: black;
    opacity: 0.4;
}