/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
}


.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-md,
.col-md-4 {
    padding: 15px;
    flex: 1 0 100%;
}

@media (min-width: 768px) {
    .col-md {
        flex: 1;
    }
    .col-md-4 {
        flex: 0 0 33.333%;
    }
}

.text-md-center {
    text-align: center;
}


.footer-48201 {
    padding: 7rem 0;
    background-color: #000;
    color: #777;
}

.footer-48201 .footer-site-logo {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
}

/* LINKS */
.footer-48201 .nav-links {
    list-style: none;
    padding: 0;
}

.footer-48201 .nav-links li {
    margin-bottom: 10px;
}

.footer-48201 .nav-links li a {
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}

.footer-48201 .nav-links li a:hover {
    color: #fff;
}

.footer-48201 .btn-tertiary {
    background-color: #e42c64;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
}

.footer-48201 .btn-tertiary:hover {
    background-color: #ff3e76;
}

.footer-48201 .social {
    list-style: none;
    padding: 0;
}

.footer-48201 .social li {
    display: inline-block;
}

.footer-48201 .social li a {
    color: gray;
    padding: 7px;
    display: inline-block;
    font-size: 1.1rem;
    transition: 0.3s;
}

.footer-48201 .social li a:hover {
    color: #fff;
}


.footer-48201 .copyright {
    border-top: 1px solid #404040;
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;
    color: #777;
}
