*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'Raleway', 'Open Sans', sans-serif;
    font-weight: 200; 
    background-color: black;
}

.welcome-container{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;

}


.Welcome-text{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    animation: appear 0.2s linear both;
    animation-timeline: scrolling;
    animation-range: entry 0% exit 100%;
}

h1{
    letter-spacing: 0.4vw;
    font-size: 3vw;
    height: 4vw;
}

.parrafo{
    letter-spacing: 1vw;
    font-size: 2vw;
    height: 4vw;
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


.light{
    height: 100%;
    width: 600px;
    background: radial-gradient(rgba(184, 123, 117, 0.326) 0%, rgba(255,255,255,0) 80%);
    position: absolute;
    z-index: -1;
    top: 0;
    transform: translateX(-250px);

}

a{
    text-decoration: none;
    color: white;
    background-color: #bc8b03;
    position: relative;
    padding: 10px 15px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
    font-size: 1.3vw;
    transition: all 0.3s ease;
}

.video{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.capa{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1c1d1cf9;
    mix-blend-mode: overlay;
    z-index: 1;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
    z-index: 2;
    animation: appear 0.3s linear both;
    animation-timeline: scrolling;
    animation-range: entry 0% exit 100%;
}

.var{
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: black;
    backdrop-filter: blur(50px);
    z-index: 2;
    opacity: 0.6;
}

a::after, a::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 23px 23px 23px 23px;
    background-color: aqua;
    background-image: conic-gradient(from var(--angle) at 50% 50%, #A88218, #FFD970,#A88218, #FFDA0A,#A88218, #FFEE91, #A88218);
    z-index: -1;
    padding: 3px;
    animation: spin 2s linear infinite;
}


a::before{
    filter: blur(1.5rem);
    opacity: 0.8;
}



@keyframes spin{
    from{
        --angle: 0deg;
    }

    to{
        --angle: 360deg;
    }
}


@media (max-width: 576px) {
    h1{
        font-size: 5vw;
        height: 7vw;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    .parrafo{
        font-size: 3.6vw;
        letter-spacing: 1vw;
        height: 9vw;
    }

    a{
        font-size: 4vw;
        padding: 1vh 4vw;
    }

}


@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}