* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.titulo {
  padding: 60px 40px;
}

.titulo h1 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #1c1c1c;
}

.titulo h1 span {
  color: #e7b01d;
  font-weight: bold;
}

.circusuper {
  position: absolute;
  top: -150px;
  right: -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 60px solid #e7b01d;
  border-right-color: transparent;
  border-top-color: transparent;
  background: transparent;
  z-index: -1;
}

.circuizquier {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -150px;
  left: -180px;
  border-radius: 50%;
  border: 60px solid #333333;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background: transparent;
  z-index: -1;
}

.circu250 {
  background-color: #f1c24c;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  position: absolute;
  left: 300px;
  z-index: 1;
  top: 120px;
}

.circu500 {
  background-color: #222223;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  position: absolute;
  left: 35%;
}

.circu125 {
  background-color: #717176;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  position: absolute;
  top: 280px;
  left: 750px;
  z-index: 1;
}

.present250 {
  position: absolute;
  left: 40px;
  top: 125px;
}

.present250 span {
  margin-left: 87px;
}

.present500 span {
  margin-left: 87px;
}

.present125 span {
  margin-left: 87px;
}

.present250 .precio {
  font-family: "Poppins", sans-serif;
  background-color: #e7b01d;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
}

.present500 {
  position: absolute;
  left: 800px;
  top: 90px;
}

.present500 .precio {
  font-family: "Poppins", sans-serif;
  background-color: #e7b01d;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
}

.present125 {
  position: absolute;
  left: 900px;
  top: 450px;
}

.present125 .precio {
  font-family: "Poppins", sans-serif;
  background-color: #e7b01d;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
}

.desc {
  width: 70%;
  margin: 20px auto 0 auto;
  text-align: justify;
  margin-top: 370px;
  margin-left: 240px;
}

.desc p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}



@media (max-width: 1024px) {
  body {
    overflow: auto; 
  }

  .titulo {
    padding: 40px 20px;
    text-align: center;
  }

  .titulo h1 {
    font-size: 28px;
  }

  .circu250, .circu500, .circu125 {
    position: static;
    margin: 20px auto;
    display: block;
  }
  
  .circu250{
    margin-left: 180px;
  }

  .circu500{
    margin-left: 170px;
  }

    .circu125{
    margin-left: 170px;
  }
  


  .present250{
    width: 200px;
    top: 170px;
    left: 20px;
  }

  .present500{
    width: 150px;
    top: 420px;
    left: 20px;
  }

  .present125{
    width: 150px;
    top: 640px;
    left: 20px;
  }

  .present250 span,
  .present500 span,
  .present125 span {
    margin-left: 0;
  }

  .desc {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }

  .desc p {
    text-align: center;
  }

  .circusuper,
  .circuizquier {
    display: none;
  }
}

@media (max-width: 600px) {

  .circu250 { width: 180px; height: 180px; }
  .circu500 { width: 260px; height: 260px; }
  .circu125 { width: 140px; height: 140px; }

  .titulo h1 {
    font-size: 24px;
  }

  .desc p {
    font-size: 13px;
  }
}
