* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.titulo {
  padding: 60px 40px;
}

.titulo h1 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #1c1c1c;
}

.titulo h1 span {
  color: #e7b01d;
  font-weight: bold;
}

.circusuper {
  position: absolute;
  top: -150px;
  right: -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 60px solid #e7b01d;
  border-right-color: transparent;
  border-top-color: transparent;
  background: transparent;
  z-index: -1;
}

.circuizquier{
  position: absolute;
  top: 300px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 60px solid #e7b01d;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background: transparent;
  z-index: -1;
}