
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background-color: #ededed;
}

#fondoinicio {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: absolute;
}

#letrasinicio{
    position: absolute;
    width: 600px;
    left: 100px;
    top: 120px;
    z-index: 1;
}

#partearri{
    position: absolute;
    width: 400px;
    height: 250px;
}

#parteneg{
    position: absolute;
    width: 482px;
    top: 320px;
    left: 440px;
}

#circu{
    position: absolute;
    width: 800px;
    left:538px;
    top: 150px;
}